<html>
    <head>
        <style>
            body{font-family: Arial, Helvetica, sans-serif; padding:40px;}
            h1{text-transform: uppercase;}
            li{list-style: none}
            a{text-decoration: none}
        </style>
    </head>
    <body>
            <% include navbaradmin.ejs %>
            <hr>
            <% data.forEach (x=> { %>
            <h3>Insert New Color, Size and Stock into <%= x.Product %></h3>
            <% }) %>
            
        <form method="post" action="/admininsertcolor">
            <% data.forEach (x => { %>
            Id_Product : <input type="text" name="Id_Product" value="<%= x.Id_Product %>" required><br>
            <% }) %>

            Color : <select><% data2.forEach(x => { %>option><%= x.Color %>
                <!--<input type="text" name="color" value="<%= x.Color %>" required>-->

            </option>

            <% }) %>
            <input type="text" name="color" required>

            </select> <br>
            Id_Color : <input type="text" name="Id_Color" required><br>
            Size : <input type="text" name="Size" required><br>
            Stock : <input type="number" name="Stock" required><br>
                    <input type="submit" value="submit">
        </form>
    </body>
</html> 
