<html>
    <head>
        
    </head>
    <body>
        Welcome, <%= username %>&nbsp;&nbsp;&nbsp;<a href="/logout">Logout</a>
        <script>
        console.log(username)
        </script>
    </body>
</html>