<html>
    <head>
        <style>
            body{font-family: Arial, Helvetica, sans-serif; padding:40px;}
            h1{text-transform: uppercase;}
            li{list-style: none}
            a{text-decoration: none}
        </style>
    </head>
    <body>
        <nav>
            <ul>
                Welcome, <%= username %>&nbsp;&nbsp;&nbsp;
                <li><a href="/homepage">Home</a></li>
                <li><a href="/userregister">Register</a></li>
                <li><a href="/userlogin">Login</a></li>
            </ul>        
        </nav>
    </body>
</html>