<html>
        <head>
                <title>Product per category</title>
                <style>
                    body{font-family: Arial, Helvetica, sans-serif; padding:40px;}
                    h1{text-transform: uppercase;}
                    li{list-style: none}
                    a{text-decoration: none}
                </style>

        </head>
        <body>
                <% include navbar. ejs %>
                <br>
                <hr>
                <% data2.forEach (x=> { %>
                        <h4>Season: x.Season_Name %><br>Category : <%= x.Category_Name %><h4>
                <% }) %>
                <br>
                <h4>Produk : </h4>
                <% data.forEach (x => { %>
                        <li><a href="/productdetail/<%= x.Id_Product %>"><%= x.Product_Name %></a><span> 
                        </span>Rp. <%= x.Price %></li>
                <% }) %>
    </body>
<html>


