<html>
    <head>
        <style>
            body{font-family: Arial, Helvetica, sans-serif; padding:40px;}
            h1{text-transform: uppercase;}
            li{list-style: none}
            a{text-decoration: none}
        </style>
    </head>
    <body>
            <% include navbaradmin.ejs %>
            <br>
            <h3>Data Season</h3>
        <table>
            <tr>
                <td style="font-weight:bold">Season</td>
                <td style="font-weight:bold"></td>
                <td style="font-weight:bold"></td>
            </tr>
            <% for (var i=0; i<data.length; i++) {%>
            <tr>
                <td><a href="/admincategory/<%= data[i].Id_Season %>"><%= data[i].Season_Name %></a></td>
            </tr>
            <% } %>
        </table>
        <br><br>
    </body>
</html>